.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color_grey_light_2);
    box-shadow: var(--shadow_dark);
    min-height: 50rem;

    @media only screen and (max-width: $bp_largest){
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex; 
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $bp_smallest){
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }
}

.content{
    display: flex;

    @media only screen and (max-width: $bp_medium){
        flex-direction: column;
    }
}

.sidebar{
    background-color: var(--color_grey_dark_1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel_view{
    background-color: #fff;
    flex: 1;
}

.detail{
    font-size: 1.4rem;
    display: flex;
    gap: 4.5rem;
    padding: 4.5rem;
    background-color: var(--color_grey_light_1);
    border-bottom: var(--line);
    
    @media only screen and (max-width: $bp_medium){
        padding: 3rem;
        gap: 3rem;
    }

    @media only screen and (max-width: $bp_small){
        flex-direction: column;
    }
}

.description{
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: var(--shadow_light);
    padding: 3rem;
    flex: 0 0 60%; 

    @media only screen and (max-width: $bp_medium){
        padding: 2rem;
    }

    @media only screen and (max-width: $bp_small){
        margin-bottom: 3rem;
    }
}

.user-reviews{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}