.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color_grey_light_2);
    box-shadow: var(--shadow_dark);

    min-height: 50rem;

}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
}

.sidebar{
    background-color: var(--color_grey_dark_1);
    flex: 0 0 18%;
}

.hotel_view{
    background-color: #fff;
    flex: 1;
}